.nowrap {
  white-space: nowrap;
}

.minTdWidth td {
  min-width: 40px;
}

.fullwidth {
  width: 100%;
}

.alignItemsFlexStart {
  align-items: flex-start !important;
}

abbr[title] {
  text-decoration: none !important;
  border-bottom: 1px dotted !important;
  padding-bottom: 2px;
}

.vanityStamp {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, .8);

  span {
    user-select: none;
  }

  a {
    color: #b60505;
  }
}

.qTable {
  td, th {
    vertical-align: middle !important;
  }
}
