@mixin pos($x, $y) {
  background-position: $x $y;
}

@mixin wh($px) {
  width: $px;
  height: $px;
}

%dimensions {
  @include wh(16px);
}

.rsIcon {
  &.dimensionsOnly {
    @extend %dimensions;
  }

  &::before {
    @extend %dimensions;
    content: ' ';
    display: inline-block;
    background-image: url('./rs-icons.png');
  }

  &.agility::before {
    @include pos(-40px, -16px);
  }

  &.attack::before {
    @include pos(0, -39px);
  }

  &.combat::before {
    @include wh(19px);
    @include pos(-21px, 0);
  }

  &.construction::before {
    @include pos(-16px, -39px);
  }

  &.cooking::before {
    @include pos(-32px, -39px);
  }

  &.defence::before {
    @include pos(-59px, -16px);
  }

  &.farming::before {
    @include pos(-59px, -32px);
  }

  &.firemaking::before {
    @include pos(0, -55px);
  }

  &.fishing::before {
    @include pos(-16px, -55px);
  }

  &.fletching::before {
    @include pos(-32px, -55px);
  }

  &.herblore::before {
    @include pos(-48px, -55px);
  }

  &.hp::before {
    @include pos(-75px, 0);
  }

  &.hunter::before {
    @include pos(-75px, -16px);
  }

  &.magic::before {
    @include pos(-75px, -32px);
  }

  &.mining::before {
    @include pos(-75px, -48px);
  }

  &.prayer::before {
    @include pos(0, -71px);
  }

  &.quest::before {
    @include wh(21px);
    @include pos(0, 0);
  }

  &.ranged::before {
    @include pos(0, -21px);
  }

  &.runecrafting::before {
    @include pos(-16px, -71px);
  }

  &.slayer::before {
    @include pos(-32px, -71px);
  }

  &.smithing::before {
    @include pos(-48px, -71px);
  }

  &.strength::before {
    @include pos(-64px, -71px);
  }

  &.woodcutting::before {
    @include pos(-91px, -16px);
  }

  &.free::before {
    width: 19px;
    @include pos(-18px, -21px);
  }

  &.members::before {
    width: 19px;
    @include pos(-40px, 0);
  }

  &.crafting::before {
    @include pos(-59px, 0);
  }

  &.thieving::before {
    @include pos(-91px, 0);
  }
}

/*

x
.bg-combat {
    width: 19px; height: 19px;
    background:  -21px -0;
}

x
.bg-construction {
    width: 16px; height: 16px;
    background:  -16px -39px;
}

x
.bg-cooking {
    width: 16px; height: 16px;
    background:  -32px -39px;
}

x
.bg-crafting {
    width: 16px; height: 16px;
    background:  -59px -0;
}

x
.bg-defence {
    width: 16px; height: 16px;
    background:  -59px -16px;
}

x
.bg-farming {
    width: 16px; height: 16px;
    background:  -59px -32px;
}

x
.bg-firemaking {
    width: 16px; height: 16px;
    background:  -0 -55px;
}

x
.bg-fishing {
    width: 16px; height: 16px;
    background:  -16px -55px;
}

x
.bg-fletching {
    width: 16px; height: 16px;
    background:  -32px -55px;
}

x
.bg-herblore {
    width: 16px; height: 16px;
    background:  -48px -55px;
}

x
.bg-hitpoints {
    width: 16px; height: 16px;
    background:  -75px -0;
}

x
.bg-hunter {
    width: 16px; height: 16px;
    background:  -75px -16px;
}

x
.bg-magic {
    width: 16px; height: 16px;
    background:  -75px -32px;
}

x
.bg-mining {
    width: 16px; height: 16px;
    background:  -75px -48px;
}

x
.bg-prayer {
    width: 16px; height: 16px;
    background:  -0 -71px;
}

x
.bg-quest {
    width: 21px; height: 21px;
    background:  -0 -0;
}

x
.bg-ranged {
    width: 18px; height: 18px;
    background:  -0 -21px;
}

x
.bg-runecrafting {
    width: 16px; height: 16px;
    background:  -16px -71px;
}

x
.bg-slayer {
    width: 16px; height: 16px;
    background:  -32px -71px;
}

x
.bg-smithing {
    width: 16px; height: 16px;
    background:  -48px -71px;
}

x
.bg-strength {
    width: 16px; height: 16px;
    background:  -64px -71px;
}

x
.bg-thieving {
    width: 16px; height: 16px;
    background:  -91px -0;
}

x
.bg-woodcutting {
    width: 16px; height: 16px;
    background:  -91px -16px;
}

x
.bg-free {
    width: 19px; height: 16px;
    background:  -18px -21px;
}

x
.bg-members {
    width: 19px; height: 16px;
    background:  -40px -0;
}
 */
